@page "/"
@using Microsoft.AspNetCore.Components.Routing

<h3>Welcome to BlazorHelloWorld</h3>

<div class="mt-3">
    <p>NASA APOD API</p>
    <a href="/fetchdata" class="btn btn-primary mr-2">Fetch Data</a>
    <a href="/fetchdatawithbutton" class="btn btn-secondary">Fetch Data with Button</a>
</div>
