@page "/simplerouting"

<h3>Simple Routing</h3>

<ul>
    <li><NavLink href="/">Home</NavLink></li>
    <li><NavLink href="/user/123">User Profile - Route Parameters:</NavLink></li>
    <li><NavLink href="/product/456">Product Details</NavLink></li>
    <li><NavLink href="/product">Product Details (No ID) - Optional Route Parameters</NavLink></li>
    <li><NavLink href="/search/some-query">Search - Catch-All Route Parameters</NavLink></li>
    <li><NavLink href="/navigate">Navigate Programmatically - 5.	Navigating Programmatically</NavLink></li>
</ul>